@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --prima: #cab3e9;
  --prim-light: #cccccc;
  --second: #9975c9;
  --white: #fff;
  --black: #1b1b1b;
  --gradient:  linear-gradient(180deg, #3c008a 0.000%, #4e03a0 25.000%, #6223b6 50.000%, #7745cc 75.000%, #8c68e0 100.000%);

  --golos-text: 'Golos Text', sans-serif;
  --playfair-display: 'Playfair Display', serif;
  --dm-sans: 'DM Sans', sans-serif;
  --Lufga: var(--font-lufga);

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.Playfair-display{
  font-family: var(--playfair-display);
}

.DM-sans{
  font-family: var(--dm-sans);
}

.Lufga {
  font-family: var(--Lufga);
}

body {
  background-color: #F3E3D0 ;
  overflow-x: hidden !important;
}

html, body {
  width: 100%;
  overflow: hidden;
}

body{
  background-color: #fffaf3;
  font-family: var(--dm-sans);
  color: var(--prim-light);
}

/*reutilizaveis*/

.font-playfair{
  font-family: var(--playfair-display);
}

.font-dm{
  font-family: var(--dm-sans);
}

.font-lufga{
  font-family: var(--Lufga);
}

.text-gradient {
  background: linear-gradient(180deg, #3c008a 0.000%, #4e03a0 25.000%, #6223b6 50.000%, #7745cc 75.000%, #8c68e0 100.000%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}