@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap-icons/font/bootstrap-icons";
@import 'remixicon/fonts/remixicon.css';

:root{
  --prima: #F3E3D0;
  --prim-light: #D2C4B4;
  --second: #AACDDC;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(to right, #f2fcfe, #1c92d2);

  --golos-text: 'Golos Text', sans-serif;
  --playfair-display: 'Playfair Display', serif;
  --dm-sans: 'DM Sans', sans-serif;
  --Lufga: var(--font-lufga);

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.Playfair-display{
  font-family: var(--playfair-display);
}

.DM-sans{
  font-family: var(--dm-sans);
}

.Lufga {
  font-family: var(--Lufga);
}

body {
  background-color: #F3E3D0 ;
  overflow-x: hidden !important;
}